<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <!-- An appender is the component that effectively writes the log message to its destination -->
    <Appenders>
        <!-- For highlighting on stdout I can recommend the Grep Console Plugin Open Plugins with strg+alt+s -->
        <!-- This appender defines stdout as its target -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false">
                <pattern>%d{HH:mm:ss.SSS} [%t] %highlight{%level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue, TRACE=magenta} - %msg%n%throwable</pattern>
            </PatternLayout>
        </Console>
        <!-- This appender defines a pattern for a file name to log to a file -->
        <File name="FileAppender" fileName="application-${date:yyyyMMdd}.log" immediateFlush="false" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <!-- Here you can define the log level up to which logging is done -->
        <Root level="trace">
            <!-- Each logger can reference one or more appenders -->
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>
</Configuration>



        <!--
        https://stackify.com/log4j2-java/
        https://logging.apache.org/log4j/2.x/log4j-core/apidocs/org/apache/logging/log4j/core/pattern/AnsiEscape.html
        https://logging.apache.org/log4j/2.x/manual/layouts.html#enable-jansi
        -->
